body{
    background-color: black;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.snegovik{
    height: 200px;
    position: relative;
    top: -60px;
    left: -30px;
}
.in{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 500px;
    border-radius: 200px 0 200px 0;
}
.out{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 500px;
    border-radius: 200px 0 200px 0;
}

legend{
    text-align: center;
}
.inputs_cont1{
    border: white 2px solid;
    border-radius: 0 200px 0 200px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100px;
    padding: 20px;
    margin-top: 30px;
}
.inputs_cont2{
    border: white 2px solid;
    border-radius: 0 200px 0 200px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100px;
    padding: 20px;
    margin-top: 30px;
}

input[type="email"] {
    border-radius: 5px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: black;
    border: none;
    border: 1px solid white;
    color: white;
    padding-left: 15px;
}

input[type="password"] {
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
    background-color: black;
    border: none;
    border: 1px solid white;
    color: white;
    padding-left: 15px;
    height: 31px;
    width: 94%;
}

/* В случае, если нажат на смайлик*/
input[type="text"] {
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
    background-color: black;
    border: none;
    border: 1px solid white;
    color: white;
    padding-left: 15px;
    height: 31px;
    width: 94%;
}

button{
    background-color: black;
    border: 1px solid white;
    border-radius: 30px 30px 0 0;
    color: white;
    padding: 15px;
    font-size: 20px;
    margin-top: 40px;
}

.vhod{
    display: none;
}

.smail_cont{
    border: 2px solid white;
    position: relative;
    border: none;
}

.no{
    position: absolute;
    display: none;
    right: 10px;
    top: 6px;
    cursor: pointer;
}
.yes{
    position: absolute;
    display: block;
    right: 10px;
    top: 6px;
    cursor: pointer;
}

.no1{
    position: absolute;
    display: none;
    right: 10px;
    top: 6px;
    cursor: pointer;
}
.yes2{
    position: absolute;
    display: block;
    right: 10px;
    top: 6px;
    cursor: pointer;
}